{% autoescape false %}
{% for service in firewall_services %}
<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>{{ service.shortname }}</short>
  <description>{{ service.description }}</description>
  {% for port in service.ports %}
  <port protocol="tcp" port="{{ port.port }}"  />
  {% endfor %}
</service>
{% endfor %}
{% endautoescape %}
