[Unit]
Description=Filebeat sends log files to Logstash or directly to Elasticsearch.
Documentation=https://www.elastic.co/products/beats/metricbeat
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/share/metricbeat/bin/metricbeat -c /etc/metricbeat/metricbeat-kafka.yml -path.home /usr/share/metricbeat -path.data /var/lib/metricbeat-kafka -path.logs /var/log/metricbeat-kafka
Restart=always

[Install]
WantedBy=multi-user.target

